In [7]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

# import WebScraping Libraries (BeautifulSoup and requests)
from bs4 import BeautifulSoup
import requests

print('Libraries imported.')

Libraries imported.

### Importing the data

In [72]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [73]:
# We will just work with the first table of the website
df = dfs[0]

In [74]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### Data Wrangling

In [75]:
# Exclude the cells that don't have an assigned borough
df = df[df['Borough'] != 'Not assigned']

In [76]:
# Change the 'slashes' separation to comma 
df['Neighborhood'] = [x if '/' not in x  else x.replace(' / ',', ') for x in df['Neighborhood']]

C:\Users\vinig\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [77]:
# See if there is no 'Not assigned' Neighborhood
df[df['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [78]:
# Confirm that there is no Neighborhood with missing values
if df['Neighborhood'].count() == df.shape[0]:
    print('No missing values in column Neigborhood')

No missing values in column Neigborhood

In [79]:
df.head()

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [80]:
print('The number of rows in the dataframe is',df.shape[0])

The number of rows in the dataframe is 103